:root {
    --background-color: #F4F4FD;
    --accent-text-color: #4D5AE5;
    --text-color: #434455;
    --secondary-text-color: #2E2F42;
    --action-color: #404BBF;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6{
margin-top: 0;
margin-bottom: 0;
}

ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family:"Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

.container{
    width: 100%;
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}


.link {
    text-decoration: none;
}
.list{
    list-style-type: none;
}

/**-----------------------HEADER-----------------------**/

.header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-logo {
    color: var(--accent-text-color);
font-size: 18px;
font-family: "Raleway", sans-serif;
font-weight: 800;
line-height: 1.17; /* 21px/18 */
letter-spacing: 0.03em;
text-transform: uppercase;
}


.header-logo-accent{
    color: var(--secondary-text-color);
    font-family: "Raleway", sans-serif;
}


.header-container{
    display: flex;
    gap: 332px;
}
.header-navigation{
    display: flex;
}


.header-list{
    display:flex;
    gap:40px;
    margin-left:76px;
}

.header-list-link {
    color: var(--secondary-text-color);
/* Body Medium */
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}

.header-list-link:hover,
.header-list-link:focus{
    color: var(--ocean, #404BBF);
}

.header-address{
    font-style: normal;
    margin-left: auto;
}

.header-address-list{
    display:flex;
    gap:40px;
    
}

.header-address-link{
    color: var(--slate, #434455);
/* Body */
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.header-address-link:hover,
.header-address-link:focus{
    color: var(--ocean, #404BBF);
}

/**-----------------------HERO-----------------------**/

.hero {
    background-color: var(--secondary-text-color);
    text-align: center;
}

.hero-container{
    padding: 188px 0;
}
.hero-title {
    color: var(--white, #FFF);
    text-align: center;
/* Header 1 */
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px;
margin: 0 auto;
margin-bottom: 48px;
}
.hero-btn {
    cursor: pointer;
    background-color: var(--iris, #4D5AE5);
    color: var(--white, #FFF);
    /* Button Text */
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
   
}
.hero-btn:is(:hover,:focus){
    background-color: var(--ocean, #404BBF);
}

.advantages{
    padding-top: 120px;
    padding-bottom: 120px;
    
}

.advantages-list{
    display: flex;
    gap: 24px;
}

.advantages-item{
    width: calc((100% - 24px * 3) / 4);
}

.advantages-subtitle {
    color: var(--secondary-text-color);
/* Header 3 */
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.advantages-item-text {
    color: var(--slate, #434455);
/* Body */
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.we-do{
    text-align: center;
}

.we-do-container{
    padding-top: 120px 0;
}


.section-title {
    color: var(--secondary-text-color);
/* Header 2 */
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin: 0 auto;
margin-bottom: 72px;
}


.image-list{
    display: flex;
    gap: 24px;
    margin-top: 72px;
    padding-bottom: 120px;
    width: calc((100% - 24px * 2) / 3);


}


.team-text-container{
    padding-top: 32px;
    padding-bottom: 32px;
    width: 232px;
    margin: 0 auto;
}
.local-title{
    color: var(--secondary-text-color);
/* Header 3 */
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 8px;
}

.section-text {
    color: var(--slate, #434455);
/* Body */
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
}

.team-section{
    display: flex;
    margin: 0 auto;
}
.team-list{
    display: flex;
    gap: 24px;
    width: calc((100% - 24px * 3) / 4);
}

.footer{
    background: var(--secondary-text-color);

}
.footer-logo {
    color: var(--accent-text-color);
font-size: 18px;
font-family: "Raleway", sans-serif;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-logo-accent {
    color: var(--iris, #f4f4fd);
font-size: 18px;
font-family: Raleway;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.footer-text{
    color: var(--cloud, #F4F4FD);
/* Body */
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.filter-btn {
    cursor: pointer;
    color: var(--iris, #4D5AE5);
text-align: center;
/* Button Text */
font-size: 16px;
font-family: inherit;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
border: 1px solid var(--cornflower, #E7E9FC);
background: var(--cloud, #F4F4FD);
}

.filter-btn:is(:hover,:focus){
    color: var(--white, #FFF);
text-align: center;
/* Button Text */
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
background: var(--ocean, #404BBF);
}

.portfolio{
    background-color: #F4F4FD;
}

.portfolio-title{
    color: var(--secondary-text-color);
/* Header 3 */
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.portfolio-text{
    color: var(--slate, #434455);
/* Body */
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.team-list-item{
    background-color: #FFFFFF;
}

.team-section {
    background-color: #F4F4FD;
}

